POSTGRES_USER=airflow
POSTGRES_PASSWORD=super_secret_password_123
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
TF_VAR_folder_id=your_folder_id_here
TF_VAR_ssh_public_key_path=
TF_VAR_postgres_password=super_secret_password_123
TF_VAR_postgres_user=airflow